html {
    font-size: 10px;
    font-family: Comic Sans MS, sans-serif;
    background-color: #faf0be;
}

h1 {
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 2px 1px #006442;
}

li {
    font-size: 15px;
}

p, a {
    font-size: 15px
}

h2 {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
    text-shadow: 2px 2px 1px #006442
}

body {
    width: 45%;
    margin: 0 auto;
    background-color: #f3e5ab;
    padding: 0 20px 20px 20px;
    border: 5px solid burlywood;
}

img {
    width: 500px;
    display: block;
    margin: 10px auto;
    border: 5px solid burlywood;
}

.layout {
    width: 200px;
    margin: 10px -400px;
    height: 200px;
    position: relative;
    float: right;
    background: #f3e5ab;
    border: 5px solid burlywood;
}

.sidebar, .description, .food, .more-info {
    position: absolute;
}

.sidebar {
    font-size: 20px;
    top: 10px;
    left: 40px;
    width: 120px;
    text-align: center;
}

.description {
    font-size: 15px;
    top: 60px;
    left: 40px;
    width: 120px
}

.food {
    font-size: 15px;
    top: 100px;
    left: 40px;
    width: 130px
}

.more-info {
    font-size: 15px;
    top: 140px;
    left: 40px;
    width: 120px
}